.e-selection:not(.readonly) .form-control {
    cursor: pointer;
}

.e-selection .input-suffix .clear-input {
    display: none;
}

.e-selection .dropdown-select {
    max-height: 300px;
    overflow: auto;
}

.e-selection.readonly .input-suffix {
    display: none;
}

.e-selection.readonly .form-control {
    padding-right: 5px !important;
}
