.jui-form .ztree li.root span.button.switch.level0 {
    visibility: hidden;
    width: 1px;
}

.jui-form .ztree li.root ul.level0 {
    padding-left: 10px;
    background: none;
}

.jui-form .pager-prev,
.jui-form .pager-next {
    border: 0;
    background-color: #fff;
}

.jui-form .form-header {
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid #dee2e6;
    background-color: white;
    padding: 0;
}

.jui-form .form-header:empty {
    border: none;
}

.jui-form .form-content {
    height: 100%;
    overflow: hidden;
}

.jui-form .form-body {
    height: 100%;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    width: 100%;
}

.jui-form .form-body .form-card {
    border: 1px solid #dee2e6;
    box-shadow: 0 5px 20px -15px rgba(0, 0, 0, 0.4);
    margin: 1.5rem;
    position: relative;
    background: #fff !important;
}

.jui-form .form-body .e-form {
    padding: 1.6rem 3.5rem;
}

.jui-form .group-content {
    border: 0 !important;
    height: 100%;
}

.jui-form .d-grid {
    column-gap: 3.5rem;
}

.jui-form .form-group {
    position: relative;
    margin-bottom: 10px;
}

.jui-form .form-group.is-invalid {
    margin-bottom: 0;
}

.jui-form .form-group > label {
    font-size: .875rem;
    font-weight: 500;
    margin-bottom: 0;
    color: #7f7f7f;
}

.jui-form .field-group {
    border-top: 1px solid #dee2e6 !important;
    border-left: 1px solid #dee2e6 !important;
    border-right: 1px solid #dee2e6 !important;
    margin-bottom: 0.5rem;
    height: min-content;
}

.jui-form .field-group.collapsed .group-body {
    display: none;
}

.jui-form .field-group.collapsed .group-expender span:before {
    content: "\f078";
}

.jui-form .group-expender {
    float: right;
}

.jui-form .group-header {
    font-weight: 700;
    padding: 0.3rem 0.85rem;
    background-color: #f6f6f6;
    border-radius: 8px 8px 0 0;
}

.jui-form .group-body {
    padding-top: 0.5rem;
}

.jui-form .field-group {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.jui-form .form-header .toolbar {
    height: 0;
    margin: 0;
}

.jui-form .form-header .toolbar:not(:empty) {
    height: auto;
    margin: 4px 0 4px 25px;
}

.jui-form .form-header:has(.toolbar:empty) {
    border: none;
}

.jui-form .log-access {
    margin-top: 10px;
}

.jui-form .btn-help {
    cursor: pointer;
}

.jui-form .btn-help:hover {
    color: black;
}

.jui-form .label-left {
    display: flex;
}

.jui-form .label-left [data-editor],
.jui-form .label-left [data-field] {
    flex: 1;
    margin-left: 10px;
}

.jui-form .label-left > label {
    line-height: 30px;
}

.mobile .jui-form .form-body .form-card {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: .5rem;
}

.mobile .jui-form .form-body {
    background: #fff;
}
