.e-binary .btn-upload {
    padding: 0;
    color: #fff;
    margin-top: 0;
    border-radius: 5px !important;
}

.e-binary .file-item .icon:before {
    content: ' ';
    display: block;
    position: absolute;
    top: -7px;
    right: -2px;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: none;
    border-left: 10px solid #c9ccd1;
    transform: rotate(-45deg);
}

.e-binary .file-item .icon:after {
    content: ' ';
    display: block;
    position: absolute;
    top: -3px;
    right: -3px;
    width: 14px;
    height: 14px;
    border-radius: 5px;
    border: 2px solid #c9ccd1;
}

.e-binary button[disabled] {
    opacity: .65;
}
