.ui-btn-icon-left:after,
.ui-btn-icon-right:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after,
.ui-btn-icon-notext:after {
    background-color: #646160;
}

.btn.btn-circle {
    border-radius: 50%;
    border-width: 1px;
    box-shadow: none;
}

.btn-icon,
.btn-icon.disabled, .btn-icon:disabled {
    background-color: transparent !important;
    border-color: transparent !important;
}

.btn-icon:not(:disabled):not(.disabled):hover {
    background-color: #e9ecef !important;
    border-color: transparent !important;
}

.btn-icon:focus, .btn-icon.focus {
    background-color: #e9ecef !important;
    border-color: transparent !important;
    box-shadow: none;
}

.btn-icon:not(:disabled):not(.disabled):active,
.btn-icon:not(:disabled):not(.disabled).active,
.show > .btn-icon.dropdown-toggle {
    background-color: #dde0e3 !important;
    border-color: transparent !important;
}

.btn-primary,
.btn-primary.disabled, .btn-primary:disabled {
    background-color: #017e84 !important;
    border-color: #017e84 !important;
    color: #fff !important;
}

.btn-primary:not(:disabled):not(.disabled):hover {
    background-color: #78a81b !important;
    border-color: #78a81b !important;
}

.btn-primary:focus, .btn-primary.focus {
    background-color: #78a81b !important;
    border-color: #78a81b !important;
    box-shadow: 0 0 0 .2rem #78a81b40 !important;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: #5c840d !important;
    border-color: #5c840d !important;
}

.btn-secondary,
.btn-secondary.disabled, .btn-secondary:disabled {
    background-color: #646160 !important;
    border-color: #646160 !important;
    color: #fff !important;
}

.btn-secondary:not(:disabled):not(.disabled):hover {
    background-color: #3E3A39 !important;
    border-color: #3E3A39 !important;
}

.btn-secondary:focus, .btn-secondary.focus {
    background-color: #3E3A39 !important;
    border-color: #3E3A39 !important;
    box-shadow: 0 0 0 .2rem #3E3A3940 !important;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    background-color: #1c1a1a;
    border-color: #1c1a1a;
}

.btn-warning,
.btn-warning.disabled, .btn-warning:disabled {
    background-color: #ff851b;
    border-color: #ff851b;
    color: #fff;
}

.btn-warning:not(:disabled):not(.disabled):hover {
    background-color: #dc6d0d;
    border-color: #dc6d0d;
    color: #fff;
}

.btn-warning:focus, .btn-warning.focus {
    background-color: #dc6d0d;
    border-color: #dc6d0d;
    color: #fff;
    box-shadow: 0 0 0 .2rem #dc6d0d40;
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    background-color: #d26202;
    border-color: #d26202;
}

.btn-success,
.btn-success.disabled, .btn-success:disabled {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
    color: #fff !important;
}

.btn-success:not(:disabled):not(.disabled):hover {
    background-color: #218838 !important;
    border-color: #1e7e34 !important;
}

.btn-success:focus, .btn-success.focus {
    background-color: #218838 !important;
    border-color: #1e7e34 !important;
    box-shadow: 0 0 0 .2rem #1e7e3440;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
    background-color: #1e7e34 !important;
    border-color: #1e7e34 !important;
}

.btn-info:focus, .btn-info.focus {
    box-shadow: 0 0 0 .2rem #117a8b40;
}

.btn-warning:focus, .btn-warning.focus {
    box-shadow: 0 0 0 .2rem #d39e0040;
}

.btn-danger:focus, .btn-danger.focus {
    box-shadow: 0 0 0 .2rem #bd213040;
}

.btn-default {
    background-color: #f8f9fa;
    border-color: #ddd;
}

.btn-default:focus, .btn-default.focus {
    box-shadow: 0 0 0 .2rem #dddddd40;
}

.btn-blue,
.btn-blue:disabled, .btn-blue.disabled {
    background: #3c8dbc;
    border-color: #3c8dbc;
    color: white;
}

.btn-blue:not(:disabled):not(.disabled):hover {
    background: #136393;
    border-color: #136393;
    color: white;
}

.btn-blue:focus, .btn-blue.focus {
    background-color: #136393;
    border-color: #136393;
    box-shadow: 0 0 0 .2rem #13639340;
}

.btn-blue:not(:disabled):not(.disabled):active,
.btn-blue:not(:disabled):not(.disabled).active,
.show > .btn-blue.dropdown-toggle {
    background-color: #0a4b72;
    border-color: #0a4b72;
}

.btn-help {
    color: #7f7f7f;
    font-weight: 500;
}

.ui-page .ui-btn.ui-btn-active {
    background-color: #8B8888;
    border-color: #8B8888;
}
